.pagodetail{
    display: flex;
    padding: 20px;
    columns: 3;
    column-count: 2;
    column-fill: balance;
    justify-content: center;
    flex-direction: row;
    justify-self: self-start;
    & p b{
        font-weight: bolder;
    }
}